@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<div class="jumbotron">
    <p class="lead">
        Hãy chăm sóc sức khỏe bản thân ngay từ bây giờ !
    </p>
    <img class="img-responsive" src="~/Common/images/bs.jpg" />
    <br />
    <p style="float:right"><a href="@Url.Action("Index","Trungtamyte")" class="btn btn-primary btn-lg"> Tra cứu trung tâm gần nhất &raquo;</a></p>
</div>