
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img {
        margin-right: 20px;
    }
</style>
<center><h2>DANH SÁCH BÁC SỸ HỖ TRỢ</h2></center>
<hr />
@*<center><img src="~/Common/images/bs.jpg" width="800px" height="250px" /></center>*@


