
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .imgavt {
        margin-right: 15px;
    }
</style>


<h2>Lịch tư vấn của bạn</h2>
<h4><i> Chú ý : Thời gian tư vấn tối đa cho mỗi lần tư vấn là : 40 phút</i></h4>

